<div class="roomActionsRow">
    <div class="left">
        <%= link_to "< Back", room_path(@room), class: "button" %>
    </div>
    <div class="center">
        <h1>Edit booking details</h1>
    </div>
    <div class="right">
    </div>
</div>
<%= render "form", room: @room, booking: @booking %>

