<div style="padding: 20px 0; border-bottom: 1px solid #e5e5e5; text-align: center;">
    <h1><%= pluralize(@bookings.size, "Upcoming Booking") %></h1>
</div>
<% if @bookings.present? %>
    <div style="display: flex; flex-direction: column; gap: 12px;">
        <% @bookings.each do |booking| %>
            <%= render "/bookings/listing_card", booking: booking %>
        <% end %>
    </div>
<% else %>
    <div style="text-align: center; font-style: italic; color: #656565;">No upcoming bookings</div>
<% end %>


