<div class="roomActionsRow">
    <div class="left">
    </div>
    <div class="center">
        <div><h1>Edit Profile</h1></div>
    </div>
    <div class="right">
    </div>
</div>
<%= render "form", user: @user %>