<div style="display: flex; flex-direction: column; gap: 12px; align-items: center; margin: 24px 0;">
    <div><span class="userAvatar x-large"><%= get_initials(@user.name) %></div>
    <div style="display: flex; gap: 8px; align-items: center;"><h2><%= @user.name %></h2> <div class="badge"><%= @user.organization %></div></div>
</div>

<div class="roomActionsRow">
    <div class="left">
    </div>
    <div class="center">
        <h2>Upcoming Bookings</h2>
    </div>
    <div class="right">
    </div>
</div>