<div class="roomListingCard">
    <div style="display: flex; flex-direction: column; gap: 8px;">
        <div>
            <div class="badge"><%= room.room_type %></div>
        </div>
        <div class="" style="font-size: 18px; font-weight: 800;"><%= link_to room.name, room_path(room) %></div>
    </div>
    <div style="padding-top: 4px;">
        <%= pluralize(room.bookings.where("start_time > ?", Time.now).count ,"Booking") %> 
    </div>
</div>
