<div class="roomListingCard">
    <div class="" style="font-size: 18px;"><%= link_to room.name, room_path(room) %></div>
    <div>
        <div class="badge"><%= room.room_type %></div>
    </div>
</div>