<div class="roomActionsRow">
    <div class="left">
        <%= link_to "New room", new_room_path, class: "buton pri" %>
    </div>
    <div class="center">
        <h1>Rooms</h1>
    </div>
    <div class="right">
    </div>
</div>

<div class="grid-container"">
    <% @rooms.each do |room| %>
        <%= render "listing_card_one", room: room %>
    <% end %>
</div>
