<div style="display: flex; gap: 24px; align-items: center;">
    <h1>Rooms</h1>
    <%= link_to "New room", new_room_path, class: "buton pri" %>
</div>

<div class="grid-container"">
    <% @rooms.each do |room| %>
        <%= render "listing_card", room: room %>
    <% end %>
</div>
