@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    /* font-family: "Source Sans 3", serif; */
    font-family: system-ui;
    color: #1e293b;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  font-weight: 800;
}
h1 {
  line-height: 1.5em;
}
a {
  color: #216869;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  text-decoration: underline; /* Add underline on hover */
  text-underline-offset: 2px; /* Set the underline offset */
}

header {
  padding: 12px 32px;
  background-color: #effaFA;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  div.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }
  div.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  } 
  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 12px;

    li {
      display: inline;
    }
    
  }
}

/* Forms */
form.button_to {
  display: inline;
}

form:not([class="button_to"]) {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 20px auto;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  }

  input[type="submit"] {
    display: block;
    background: #2C3E50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: background 0.3s ease;

    &:hover {
      background: #34495E;
    }
  }
}

.main-content {
  display: flex; /* Use flexbox for main content */
  flex-direction: column;
  gap: 24px;
  justify-content: center; /* Center align content horizontally */
  max-width: 1000px; /* Set max width for main content */
  margin: 48px auto; /* Center align the main content with auto margins */
}
.grid-container {
  display: grid; /* Define the container as a grid */
  grid-template-columns: repeat(3, 1fr); /* Set up 4 columns with equal width */
  gap: 8px; /* Optional: add some gap between grid items */
}

/* Rooms */
.roomListingCard { /* listing card stye 1 */
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 16px 20px;
  border-radius: 4px; 
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: rgba(0,0,0,0.04) 0 4px 12px;
  height: 88px;
}

.roomActionsRow { /* actions for a room in room details page */
  display: grid; grid-template-columns: 1fr 2fr 1fr; gap: 8px;
  padding: 20px 0 24px 0;
  border-bottom: 1px solid #e5e5e5;

  .left, .right {
    display: flex; flex-direction:row; gap: 8px; align-items: center; 
  }
  .left {
    justify-content: flex-start;
  }
  .center {
    display: flex; flex-direction:column; align-items: center;
  }
  .right {
    justify-content: flex-end;
  }
}

/* Bookings */
.bookingListingCard { /* listing card stye 1 */
  /* display: flex; gap: 8px; padding: 20px 0; border-bottom: 1px solid #e5e5e5; */
  display: flex; gap: 8px; 
  padding: 16px 20px; 
  border-radius: 8px; 
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: rgba(0,0,0,0.04) 0 4px 12px;

  .left {
    width: 120px; font-size: 14px; color: #757575; text-transform: uppercase;
  }
  .right {
    flex-grow: 4; display: flex; flex-direction: column; gap:12px;
  }
  .booking-date {
    line-height: 27px;
  }
  .title {
    font-size: 20px; font-weight:700; line-height: 1.5em;
  }
  .timing-booked-by {
    line-height: 1.3em;
  }
  .desc {
    color:#656565;
  }
}

/* Badges */
.badge {
  display: inline; 
  font-size: 10px;
  font-weight: 700;
  color: #656565;
  text-transform: uppercase;
  padding: 3px 6px; 
  border-radius: 4px;
  background-color: #f5f5f5; 
  border: 1px solid #d5d5d5;
}

/* Breadcrumbs */
nav.breadcrumb {
  padding: 0;
  margin: 0;

  ol {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    list-style-type: none;

    li {
      font-size: 14px;
    } 
  }
}

a.buton {
  padding: 8px 16px;
  border-radius: 32px;
  text-decoration: none;
  font-weight: 600;

  &.outlined {
    border: 1px solid #216869;
    color: #216869;
  }
  &.pri {
    color: white;
    background-color: #216869;
    border: 1px solid #216869;
  }
}