@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    /* font-family: "Source Sans 3", serif; */
    font-family: system-ui;
    color: #1e293b;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  font-weight: 800;
}
h1 {
  line-height: 1.5em;
}
a {
  color: #216869;
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  text-decoration: underline; /* Add underline on hover */
  text-underline-offset: 2px; /* Set the underline offset */
}

header {
  padding: 12px 32px;
  background-color: #effaFA;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  div.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }
  div.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  } 
  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 12px;

    li {
      display: inline;
    }
  }
}

/* Flashes */

.flash {
  width: 100%;
  max-width: 952px;
  padding: 24px;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1rem;

  &.notice {
    color: #15803d;
    background-color: #f0fdf4;
  }

  &.alert {
    color: #dc2626;
    background-color: #fef2f2;
  }
}

/* Forms */
form {
  width: 100%; /* Or any preferred width */

  max-width: 600px;
  margin: 20px auto; /* Center the form */
  padding: 20px;
  background: #f4f4f4;
  border-radius: 4px;

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'system-ui';
  font-size: 16px;
}

/* Styling for regular select fields */
select:not(.datetime-select select) {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* Styling for datetime select fields */
form select[name*="booking[start_time(1i)]"],
form select[name*="booking[start_time(2i)]"],
form select[name*="booking[start_time(3i)]"],
form select[name*="booking[start_time(4i)]"],
form select[name*="booking[start_time(5i)]"],
form select[name*="booking[end_time(1i)]"],
form select[name*="booking[end_time(2i)]"],
form select[name*="booking[end_time(3i)]"],
form select[name*="booking[end_time(4i)]"],
form select[name*="booking[end_time(5i)]"]
 {
  font-size: 16px;
  width: auto;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 5px center;
}
/* Then wrap them in a flex container */
form div[name*="booking_start_time"],
form div[name*="booking_end_time"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

/* Styling for submit button */
input[type="submit"] {
  display: block;
  margin-top: 15px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 32px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #216869;
  border: 1px solid #216869;
  transition: background 0.3s ease;
}

/* Common focus styles */
input:focus, textarea:focus, select:focus {
  outline: none;
  border: 2px solid rgb(13, 148, 136);
  box-sizing: border-box;
  box-shadow: 0 0 0 0.2rem rgba(13, 148, 136,.25);
}

div.field_with_errors {
  display: inline;
  label {
    color: #dc2626;
  }
  input,
  textarea,
  select {
    background: #fef2f2 !important;
    border: 1px solid #dc2626;
    box-sizing: border-box;
  }
  input:focus, textarea:focus, select:focus {
    border: 2px solid rgb(220, 38, 38) !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 38, 38,.25);
  }
}

.main-content {
  display: flex; /* Use flexbox for main content */
  flex-direction: column;
  gap: 24px;
  justify-content: center; /* Center align content horizontally */
  max-width: 1000px; /* Set max width for main content */
  margin: 48px auto; /* Center align the main content with auto margins */
}
.grid-container {
  display: grid; /* Define the container as a grid */
  grid-template-columns: repeat(3, 1fr); /* Set up 4 columns with equal width */
  gap: 8px; /* Optional: add some gap between grid items */
}

/* Rooms */
.roomListingCard { /* listing card stye 1 */
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 16px 20px;
  border-radius: 4px; 
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: rgba(0,0,0,0.04) 0 4px 12px;
  height: 88px;
}

.roomActionsRow { /* actions for a room in room details page */
  display: grid; grid-template-columns: 1fr 2fr 1fr; gap: 8px;
  padding: 20px 0 24px 0;
  border-bottom: 1px solid #e5e5e5;

  .left, .right {
    display: flex; flex-direction:row; gap: 8px; align-items: center; 
  }
  .left {
    justify-content: flex-start;
  }
  .center {
    display: flex; flex-direction:column; align-items: center;
  }
  .right {
    justify-content: flex-end;
  }
}

/* Bookings */
.bookingListingCard { /* listing card stye 1 */
  /* display: flex; gap: 8px; padding: 20px 0; border-bottom: 1px solid #e5e5e5; */
  display: flex; 
  gap: 8px; 
  padding: 16px 20px; 
  border-radius: 8px; 
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: rgba(0,0,0,0.04) 0 4px 12px;

  .left {
    width: 120px;
  }
  .right {
    flex-grow: 1; display: flex; flex-direction: column; gap:12px;
  }
  .booking-date {
    line-height: 27px;
    color: #64748b; 
    font-size: 14px; 
    text-transform: uppercase;
  }
  .title {
    font-size: 18px; font-weight:700; line-height: 1.5em;
  }
  .timing-booked-by {
    line-height: 1.3em;
  }
  .desc {
    color: #64748b; 
  }
}

/* Users */
.userListingCard {
  display: flex; 
  gap: 12px;
  padding: 16px 20px;
  border-radius: 4px; 
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: rgba(0,0,0,0.04) 0 4px 12px;
  align-items: center;
}
.userAvatar {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: white; 
  border-radius: 100%;
  background-color: #2dd4bf;

  &.x-small {
    width: 24px; 
    height: 24px; 
    font-size: 12px; 
    font-weight: 600; 
  }
  &.small {
    width: 32px; 
    height: 32px; 
    font-size: 16px; 
    font-weight: 600; 
  }
  &.large {
    width: 48px; 
    height: 48px; 
    font-size: 28px; 
    font-weight: 600; 
  }
  &.x-large {
    width: 60px; 
    height: 60px; 
    font-size: 32px; 
    font-weight: 600; 
  }
}

/* Badges */
.badge {
  display: inline; 
  font-size: 10px;
  font-weight: 700;
  color: #656565;
  text-transform: uppercase;
  padding: 3px 6px; 
  border-radius: 4px;
  background-color: #f5f5f5; 
  border: 1px solid #d5d5d5;
}

/* Breadcrumbs */
nav.breadcrumb {
  padding: 0;
  margin: 0;

  ol {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    list-style-type: none;

    li {
      font-size: 14px;

      &.current {
        font-weight: 600;
      }
    } 
  }
}

a.buton {
  padding: 8px 16px;
  border-radius: 32px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;

  &.outlined {
    border: 1px solid #216869;
    color: #216869;
  }
  &.pri {
    color: white;
    background-color: #216869;
    border: 1px solid #216869;
  }
}

/* Errors */

section.errors {
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 0.3rem;
  background: #fef2f2;
  color: #dc2626;

  h3 {
    margin-top: 1rem;
    font-weight: 600;
  }
}