<header style="">
    <nav class="">
        <div class="left">
            <span style="font-size:28px; font-weight:700;">MEETZ</span>
            <ul>
                <li><%= link_to "Rooms", rooms_path %></li>
                <li><%= link_to "Upcoming", bookings_path %></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Sign Up", signup_path, class: "button" %></li>
                <li>Log out</li>
            </ul>
        </div>
    </nav>
</header>